cartridges/**/cartridge/static/**
cartridges/app_storefront_base/**
cartridges/modules/
coverage/**
cartridges/app_storefront_base

webpack.config.js
cartridges/bm_app_storefront_base/
cartridges/bm_app_storefront_base/cartridge/static/
